[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
peewee = "*"
xlrd = "*"
pyyaml = "*"
flask = "*"
flask-restful = "*"
bcrypt = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.6"
